 
.flex {
    display: flex;
}

.flex-row-align {
    display: flex;
    align-items: center;
}

.flex-row-center {
    display: flex;
    align-items: center;
}

.flex-row-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}